<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
This site was started because pensions are both really boring, and really complicated. My parents retired recently, and they struggled to understand what was going on, what they could and should do. I know enough to help, but plenty of people don't and I found it very difficult to find any information.
</p>
<p>
There's no money involved at the moment, but we're not opposed to the idea of making money in principle, we just don't see how it's going to happen.
</p>
<p>
The last part is, in the interests of as much disclosure as possible, I work in the pensions industry, although I wouldn't consider myself an expert, as the area is so complicated. I'm not sure my employers would be enormously enthusiastic about me building this, so I'm not posting under my own name, at least for now, I'm posting under Theseus, because we have one joke and we're not giving up on it.
</p>
