<% provide(:title, 'Privacy Policy') %>
<h1>Privacy Policy</h1>
<p>
We don't know who you are, but one day we'd like to know what you tend to visit on the site so we can make it better, and maybe remove some of the dustier corners that aren't in use, or build on things that people seem to use more often. To do that we might need to understand what people view when they're on the site, if there's any particular order people look at things in. But frankly, for now we don't have any idea how to do this. This message will change when the situation changes.   
</p>
